/* 
234015 (verded oscuro)
395918 (verde mediano)
aedd94 (verde claro)
*/

/* fuente de letra */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); 

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red; */
    /* max-width: 1200px;  */
}
html {
    font-size: 62.5%;
}
/* body */
body {
    background-color: #395918 ;
    color: white;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    overflow-x: hidden;
    font-weight: 300;
}
/* header */
header {
    background-color: #234015;
}
/* logo */
.icono {
    width: 20rem;
    height: 20rem;
    margin-left: 15rem;
    border: none;
}
header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.separacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* menu de nav */
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-align: right;
    margin-right: 3rem;
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-align: right;
    margin-right: 3rem;
}
header nav ul li a{
    color: white;
    font-size: 4.2rem;
    font-weight: 400;
    border-right: solid 0.2rem #aedd94;
    padding-right: 5rem;
    padding-left: 5rem;   
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
.color-menu{
    color: white;
    font-size: 4.2rem;
    font-weight: 400;
    border-right: solid 0.2rem #aedd94;
    padding-right: 5rem;
    padding-left: 5rem;   
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
header nav ul li a:hover, footer nav a svg:hover,div a svg:hover {
    color: #aedd94;
}
.none-border {
    border: none;
}

/* enlaces */
a {
    text-decoration: none;
    color:  white;
}
/* termina el header */

/* encabezados */
.centrar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
h1 {
    color: white;
    font-size: 6rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.ti-corto {
    background-color: #234015;
    border: solid 0.4rem #aedd94;
    margin: 6rem;
    width: 30rem;
    padding:1.3rem;
}
.ti-largo {
    background-color: #234015;
    border: solid 0.4rem #aedd94;
    margin: 6rem;
    width: 55rem;
    padding:1.5rem;
} 
h2 {
    color: white;
    font-size: 4.5rem;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.contacto {
    background-color: #234015;
    border: solid 0.3rem #aedd94;
    padding:1.8rem; 
}
/* termina encabezados */

/* index */

/* imagenes */
.imagen-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagen {
    width: 70%;
    height: 73rem;
    border: solid 0.5rem #aedd94;
    object-fit: cover;
}
/* boton hace tu reserva */
.btn-reserva {
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin: 4rem;
}
.btn-reserva a {
    background-color: #234015;
    border: solid 0.2rem #aedd94;
    padding: 1rem;
}
.btn-reserva a:hover {
    color: #aedd94;
}
/* termina index */

/* reserva */

/* cantina */

/* tablas */

table {
    font-size: 3.5rem;
    background-color: #234015;
    border: solid 0.2rem #aedd94;
    margin: 3rem;
    text-align: center;
}
table thead tr th {
    background-color: #234015 ;
    border: solid 0.2rem #aedd94 ;
    padding: 2rem;
}
table tbody tr td {
    background-color: #395918 ;
    border: solid 0.2rem #aedd94 ;
    padding: 2rem;
}
.acomodo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.precios {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
.horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 2rem;
}
.borde {
    background-color: #234015;
border: solid 0.1rem #aedd94;
padding: 3rem;
}
/* .estirado-vertical {
    height: 93rem;
} */
.estirado-horizontal {
    width: 100%;
}
/* termina reserva */
.tablas-precios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.tabla-cerveza {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tabla-jugo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* aviso */
.aviso{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.aviso-icono {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aviso-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* grid layout */
.grid-header {
    grid-area: menu;
}
.grid-main {
    grid-area: contenido;
}
.grid.section {
    grid-area: seccion;
}
.grid-aside {
    grid-area: publicidad;
    justify-self: center;
    align-self: center;
}
.grid-footer {
    grid-area: pie;
}
.grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    }
/* termina cantina */

/* quincho */
.galeria {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
}
.galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* contacto */
.img {
    width: 20%;
    border: solid 0.5rem #aedd94;
    margin-bottom: 4rem;
} 
/* formulario */
form {
    text-align: center;
}
form label {
    background-color: #234015;
    border: solid 0.2rem #aedd94;
    font-size: 3rem;
    padding: 1.1rem;
    margin: 1rem;
}
form input {
    background-color: #234015;
    border: solid 0.2rem #aedd94;
    font-size: 2rem;
    padding: 1.6rem;
    margin: 1rem;
}
form select {
    background-color: #234015;
    border: solid 0.2rem #aedd94;
    color: white;
    font-size: 2.4rem;
    padding: 1.3rem;
    margin: 1rem;
}
form textarea {
    background-color: #234015;
    border: solid 0.2rem #aedd94;
    height: 9rem;
    font-size: 2rem;
    padding: 1.3rem;
    margin: 1.5;
}
.btn-submit {
    background-color: #234015;
    border: solid 0.1rem #aedd94;
    color: white;
    font-size: 3rem;
    border-top-right-radius: 25%;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    padding: 1.5rem;
    margin: 2rem;
}
/* termina contacto */

/* parrafos */
p {
    color: white;
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 250;
    font-style: normal;
    text-align: center;
    margin: 4rem;
}
/* btn de whatsapp */
.btn-wpp {
    color: white;
    background-color: green;
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50% ;
    padding: 2.5rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
}
/* footer */
footer {
    background-color: #234015;
}
footer p {
    color: white;
    font-size: 2rem;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-style: normal;
}
footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* columnas */
.div-iframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 33%;
}
.div-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}
.div-redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}
/* mapa */
iframe {
    width: 40rem;
    height: 15rem;
    margin: 2rem;
}
/* whatsapp */
.btn-wapp {
    width: 7rem;
    height: 7rem;
}
.div-wap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
/* instagram */
.btn-ig {
    width: 7rem;
    height: 7rem;
}
.div-ig {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

/* responsive */

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {

    /* logo */
    .icono {
        width: 10rem;
        height: 10rem;
        margin-left: 7rem;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .color-menu {
        text-align: start;
        font-size: 1rem;
        border-left: solid 0.2rem #aedd94;
        border-right: none;
        padding: none;
    }
    /* cantina */
    .grid-container {
        display: grid;
        grid-template-columns: 3fr;
        grid-template-rows: auto 2fr 1fr 1fr auto;
        grid-template-areas: 
        "menu "
        "contenido"
        "publicidad"
        "seccion"
        "pie"
        ;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    .grid-container h1 {
        font-size: 3rem;
    }
    .grid-container p {
        font-size: 2rem;
    }
    /* .grid-container .grid-aside img {
        width: 20%;
    } */
}


/* tablet */
@media screen and (min-width: 768px) and(max-width: 1023px) {
    
    /* cantina */
    .grid-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 2fr 1fr auto;
        grid-template-areas: 
        "menu menu"
        "contenido publicidad"
        "seccion publicidad"
        "pie pie"
        ;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
}

/* dekstop */
@media screen and (min-width: 1024px) {
    
    /* cantina */
    .grid-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto 2fr 1fr auto;
        grid-template-areas: 
        "menu menu"
        "contenido publicidad"
        "seccion publicidad"
        "pie pie"
        ;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    /* quincho */
    .galeria {
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(3, 1fr) ;
    }
    .galeria img:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2 ;
    }
    .galeria img:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/2 ;
    } 
    .galeria img:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/3 ;
    }
    .galeria img:nth-child(4) {
        grid-column: 1/2;
        grid-row: 2/4 ;
    }
    .galeria img:nth-child(5) {
        grid-column: 2/3;
        grid-row: 2/3 ;
    }
    .galeria img:nth-child(6) {
        grid-column: 2/3;
        grid-row: 3/4 ;
    }
    .galeria img:nth-child(7) {
        grid-column: 3/4;
        grid-row: 3/4 ;
    } 
}