footer {
    background-color: $darkgreen;

    nav {
        @include flex (row, space-between, center);

        .tamaño-letra {
            color: white;
            font-size: 2rem;
            font-weight: 300;
            text-align: center;
            margin-left: 1rem;

            @include mobile {
                font-size: 1.2rem
            }

            @include tablet {
                font-size: 1.5rem
            }
        }

            /* columnas */
        .div-iframe {
            @extend %flex-column-center;
            width: 33%;
        }

        .div-copy {
            @extend %flex-column-center;
            width: 33%;
        }

        .div-redes {
            @extend %flex-column-center;
            align-items: center;
            width: 33%;

            @include mobile {
                height: 9.9rem;
            }

            @include tablet {
                height: 9.9rem;
            }
        }

        /* mapa */
        iframe {
            @include sizes (40rem, 15rem);
            margin: 4rem;

            @include mobile {
                @include sizes (10rem,5rem);
                margin: 2rem;
            }

            @include tablet {
                @include sizes (20rem,7.5rem);
                margin: 0rem;
                margin-left: 1.4rem;
            }
        }
        
        /* whatsapp */
        .div-wap {
            @include flex (row, flex-start, center);
        }

        .btn-wapp {
            @include sizes (3rem, 3rem);

            @include mobile {
                @include sizes (1.4rem, 1.4rem);
            }

            @include tablet {
                @include sizes (1.8rem, 1.8rem);
            }

            &:hover{
                color: $lightgreen;

                @include mobile {
                    display: none
                }
            }
        }
        
        /* instagram */
        .div-ig {
            @include flex (row, flex-start, center);
        }

        .btn-ig {
            @include sizes (3rem, 3rem);

            @include mobile {
                @include sizes (1.4rem, 1.4rem);
            }

            @include tablet {
                @include sizes (1.8rem, 1.8rem);
            }

            &:hover{
                color: $lightgreen;

                @include mobile {
                    display: none
                }
            }
        }

        .medida {
            width: 50%;

            @include mobile {
                height: 20%;
            }

            @include tablet {
                height: 20%;
            }
        }
        
    }
}