
table {
    @extend %fondo;
    font-size: 3.5rem;
    margin: 3rem;
    text-align: center;
    border-radius: 4px;

    @include mobile {
        border: $bordefino;
        font-size: 1.6rem;
        margin: 1rem;
    }

    @include tablet {
        border: $borde;
        font-size: 2rem;
        margin-top: 3rem;
    }
    
    thead tr th {
        @extend %fondo;
        padding: 2rem;

        @include mobile {
            border: $bordefino;
            padding: 1.5rem;
        }

        @include tablet {
            border: $borde;
            padding: 1.5rem;
        }
    }
    
    tbody tr td {
        background-color: $green;
        border: $borde;
        padding: 2rem;

        @include mobile {
            border: $bordefino;
            padding: 1.5rem;
        }
        @include tablet {
            border: $borde;
            padding: 1.5rem;
        }
    }
    
}


    .estirado-horizontal {
        @include desktop {
            width: 80%;
        }

        @include mobile {
            font-size: 1.2rem;
        }

        @include tablet {
            font-size: 2.3rem;
        }
    }

    .tabla-reserva {
        
        & td {
            @include mobile {
                padding: 0.6rem;
            }
    
            @include tablet {
                padding: 1.5rem;
            }
        }
        
        & th {
            @include mobile {
                padding: 0.6rem;
            }
        
            @include tablet {
                padding: 1.5rem;
            }
        }
    }

    .tabla-color {
        
        & td {
            font-size: 2.7rem;
            border: none;
            
            @include mobile {
                font-size: 1.1rem;
            }
    
            @include tablet {
                font-size: 2rem;
            }
        }
    }

    .tabla-cuadrado1 {
        @include sizes (3rem, 3rem);
        background: $lightgreen;
        display: inline-block;
        border-radius: 0.4rem;
        margin-right: 0.8rem;

        @include mobile {
            @include sizes (1.1rem, 1.1rem);
        }

        @include tablet {
            @include sizes (2rem, 2rem);
        }
    }

    .tabla-cuadrado2 {
    @extend .tabla-cuadrado1; 
    background: $darkgreen;
    }

    .tabla-cuadrado3 {
        @extend .tabla-cuadrado1;
        background: skyblue;
    }


    .border-none {
        border: none;
    }