
table {
    @extend %fondo;
    font-size: 3.5rem;
    margin: 3rem;
    text-align: center;

    @include mobile {
        border: $bordefino;
        font-size: 1.6rem;
        margin: 1rem;
    }

    @include tablet {
        border: $borde;
        font-size: 2rem;
        margin-top: 3rem;
    }
    
    thead tr th {
        @extend %fondo;
        padding: 2rem;

        @include mobile {
            border: $bordefino;
            padding: 1.5rem;
        }

        @include tablet {
            border: $borde;
            padding: 1.5rem;
        }
    }
    
    tbody tr td {
        background-color: $green;
        border: $borde;
        padding: 2rem;

        @include mobile {
            border: $bordefino;
            padding: 1.5rem;
        }
        @include tablet {
            border: $borde;
            padding: 1.5rem;
        }
    }
    
}

    .tabla-reservas {
        width: 100%;
        font-size: 3.5rem;;

        @include mobile {
            font-size: 1rem;
        }

        @include tablet {
            font-size: 2.3rem;
        }

        & td {
            padding: 2rem;
        }

        @include mobile {
            & td {
                    padding: 0.6rem;
                }
        }

        @include tablet {
            padding: 1.5rem;
        }
    }